<div class="header-bar">
  <ss-button
    class="hamburger"
    variant="text"
    shape="circle"
    icon="menu"
    [iconOnly]="true"
    tooltip="Menu"
    (onClick)="emitMenuToggle()"
  ></ss-button>

  <!-- Máy tính: breadcrumb nằm luôn trên thanh tiêu đề, khoảng vừa thì rút gọn các cấp giữa. -->
  <ss-breadcrumb
    *ngIf="!isMobile"
    class="header-crumb"
    [items]="breadcrumbItems"
    [maxItems]="crumbMaxItems"
    [compact]="true"
  ></ss-breadcrumb>
  <span *ngIf="isMobile && currentLabel" class="header-title">{{ currentLabel }}</span>


  <span class="spacer"></span>

  <ss-button variant="text" shape="circle" icon="question-circle" [iconOnly]="true" tooltip="Trợ giúp"></ss-button>
  <ss-button variant="text" shape="circle" icon="bell" [iconOnly]="true" tooltip="Thông báo"></ss-button>
</div>
