<nz-layout class="app-layout" [class.is-mobile]="isMobile" [class.mobile-open]="mobileOpen">
  <nz-sider
    class="app-sider"
    nzCollapsible
    [nzCollapsed]="isMobile ? false : collapsed"
    [nzWidth]="'var(--sider-width)'"
    [nzCollapsedWidth]="72"
    [nzTrigger]="null"
    nzTheme="dark"
  >
    <app-sidebar
      [collapsed]="isMobile ? false : collapsed"
      (toggleCollapsed)="toggleSidebar()"
    ></app-sidebar>
  </nz-sider>

  <!-- Backdrop: chỉ hiện khi mở drawer ở mobile, bấm ra ngoài để đóng -->
<!--  <div class="app-backdrop" *ngIf="isMobile && mobileOpen" (click)="closeMobile()"></div>-->

  <nz-layout class="app-right">
    <nz-header class="app-header">
      <app-header
        [crumbs]="breadcrumb.crumbs()"
        [widthMode]="widthMode"
        (menuToggle)="toggleSidebar()"
      ></app-header>
    </nz-header>

    <nz-content class="app-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
