<div class="sidebar" [class.collapsed]="collapsed">
  <div class="brand">
    <span class="brand-logo">EH</span>
    <div class="brand-text" *ngIf="!collapsed">
      <div class="brand-title">Employee Hub</div>
      <div class="brand-version">WORKSPACE</div>
    </div>
    <span class="brand-status" title="Online"></span>
  </div>

  <div class="sidebar-menu">
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="collapsed">
      <ng-container
        *ngTemplateOutlet="menuNodes; context: { $implicit: menuItems, level: 1 }"
      ></ng-container>
      <ng-template #menuNodes let-items let-level="level">
        <ng-container *ngFor="let item of items; trackBy: trackById">
          <li
            *ngIf="item.children && item.children.length"
            nz-submenu
            [nzTitle]="nodeTitle"
            [nzOpen]="!!openMap[item.id]"
            [nzPaddingLeft]="collapsed ? null : level * 24"
            (nzOpenChange)="onOpenChange(item.id, $event)"
          >
            <ng-template #nodeTitle>
              <nz-icon [nzType]="item.icon ?? ''"></nz-icon>
              <span>{{ item.label }}</span>
            </ng-template>

            <ul>
              <ng-container
                *ngTemplateOutlet="menuNodes; context: { $implicit: item.children, level: level + 1 }"
              ></ng-container>
            </ul>
          </li>
          <li
            *ngIf="!item.children || !item.children.length"
            nz-menu-item
            [nzPaddingLeft]="collapsed ? null : level * 24"
            [routerLink]="item.path ?? null"
          >
            <nz-icon [nzType]="item.icon ?? ''"></nz-icon>
            <span>{{ item.label }}</span>
          </li>

        </ng-container>
      </ng-template>
    </ul>
  </div>

  <div class="sidebar-footer">
    <button
      type="button"
      class="collapse-row"
      [attr.aria-label]="collapsed ? 'Mở rộng menu' : 'Thu gọn menu'"
      (click)="emitToggleCollapsed()"
    >
      <nz-icon class="collapse-icon" [nzType]="collapsed ? 'right-circle' : 'left-circle'"></nz-icon>
      <span class="collapse-text" *ngIf="!collapsed">Thu gọn menu</span>
    </button>

    <div
      class="profile"
      nz-dropdown
      [nzDropdownMenu]="profileMenu"
      nzTrigger="click"
      nzPlacement="topRight"
    >
      <nz-avatar nzIcon="user" [nzSize]="32"></nz-avatar>
      <div class="profile-text" *ngIf="!collapsed">
        <div class="profile-name">{{ displayName }}</div>
        <div class="profile-role" *ngIf="roleName">{{ roleName }}</div>
      </div>
      <nz-icon *ngIf="!collapsed" class="profile-caret" nzType="up"></nz-icon>
    </div>

    <nz-dropdown-menu #profileMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="auth.logout()">
          <nz-icon nzType="logout"></nz-icon>
          <span>Đăng xuất</span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
