<div class="sidebar" [class.collapsed]="collapsed">
  <div class="brand">
    <span class="brand-logo">EH</span>
    <div class="brand-text" *ngIf="!collapsed">
      <div class="brand-title">Employee Hub</div>
      <div class="brand-version">WORKSPACE</div>
    </div>
    <span class="brand-status" title="Online"></span>
  </div>

  <div class="sidebar-menu">
    <ng-container *ngTemplateOutlet="menuNodes; context: { $implicit: menuService.getMenu(), level: 1 }"></ng-container>

    <ng-template #menuNodes let-items let-level="level">
      <ng-container *ngFor="let item of items">
        <button
          *ngIf="item.children?.length"
          type="button"
          class="menu-node"
          [class.menu-node--open]="!!openMap[item.id]"
          [style.padding-left.px]="collapsed ? 16 : level * 18"
          (click)="onOpenChange(item.id, !openMap[item.id])"
        >
          <span class="menu-symbol" [style.color]="item.iconColor">{{ item.icon.charAt(0).toUpperCase() }}</span>
          <span *ngIf="!collapsed" class="menu-label">{{ item.label }}</span>
          <span *ngIf="!collapsed" class="menu-caret">{{ openMap[item.id] ? '−' : '+' }}</span>
        </button>
        <div *ngIf="item.children?.length && openMap[item.id] && !collapsed">
          <ng-container *ngTemplateOutlet="menuNodes; context: { $implicit: item.children, level: level + 1 }"></ng-container>
        </div>

        <button
          *ngIf="!item.children?.length"
          type="button"
          class="menu-node"
          [class.menu-node--active]="isActive(item)"
          [attr.title]="collapsed ? item.label : null"
          [style.padding-left.px]="collapsed ? 16 : level * 18"
          (click)="navigateTo(item)"
        >
          <span class="menu-symbol" [style.color]="item.iconColor">{{ item.icon.charAt(0).toUpperCase() }}</span>
          <span *ngIf="!collapsed" class="menu-label">{{ item.label }}</span>
        </button>
      </ng-container>
    </ng-template>
  </div>

  <div class="sidebar-footer">
    <button
      type="button"
      class="collapse-row"
      [attr.aria-label]="collapsed ? 'Mở rộng menu' : 'Thu gọn menu'"
      (click)="emitToggleCollapsed()"
    >
      <span class="collapse-icon">{{ collapsed ? '›' : '‹' }}</span>
      <span class="collapse-text" *ngIf="!collapsed">Thu gọn menu</span>
    </button>

    <div class="profile">
      <span class="profile-avatar">{{ displayName.charAt(0).toUpperCase() }}</span>
      <div class="profile-text" *ngIf="!collapsed">
        <div class="profile-name">{{ displayName }}</div>
        <div class="profile-role">{{ roleName }}</div>
      </div>
    </div>
    <button type="button" class="logout-button" (click)="logout()" [attr.title]="collapsed ? 'Đăng xuất' : null">
      <span>↪</span><span *ngIf="!collapsed">Đăng xuất</span>
    </button>
  </div>
</div>
